.dmMonocle {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color:#EEE;
	position:relative;
}
.dmMonocle-zoomImage {
	position: absolute;
	left: 0;
	top: 0;
}
.dmMonocle-zoomImage_90 {
     -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
                     M11=6.123031769111886e-17, M12=-1, M21=1, M22=6.123031769111886e-17); /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', 
                     M11=6.123031769111886e-17, M12=-1, M21=1, M22=6.123031769111886e-17)"; /* IE8 */
               zoom: 1;
}
.dmMonocle-zoomImage_180 {
     -moz-transform: rotate(180deg);  /* FF3.5+ */
       -o-transform: rotate(180deg);  /* Opera 10.5 */
  -webkit-transform: rotate(180deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
                     M11=-1, M12=-1.2246063538223773e-16, M21=1.2246063538223773e-16, M22=-1); /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', 
                     M11=-1, M12=-1.2246063538223773e-16, M21=1.2246063538223773e-16, M22=-1)"; /* IE8 */
               zoom: 1;
}
.dmMonocle-zoomImage_270 {
     -moz-transform: rotate(270deg);  /* FF3.5+ */
       -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
                     M11=-1.8369701987210297e-16, M12=1, M21=-1, M22=-1.8369701987210297e-16); /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', 
                     M11=-1.8369701987210297e-16, M12=1, M21=-1, M22=-1.8369701987210297e-16)"; /* IE8 */
               zoom: 1;
}