/* dmBridge Image VIewer .5 styles */

body,html {
	margin: 0;
	padding: 10px 0 0 0;
}

div#viewer {
	width: 730px;
	height: 500px;
	background-color: #EEE;
	background-repeat:no-repeat;
	background-position:center center;
	margin-top: 20px;
	position:relative;
	overflow:hidden;
	margin: 0 auto;
	text-align: center;
}
.zoomout {
	float: left;
	display: block;
	width: 300px;
}
.zoomin {
	float: right;
}
#zoomcontrols {
	margin: 0 60px 0 20px;
}
#thumbnail {
	position: absolute;
	top:0;
	left:0;
	border-right: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
	z-index: 15;
}
#mainimage {	
	z-index: 1;
	cursor: move;
}
#mainimagedragger {
	
}
.clicknav {
	z-index: 15;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/bg_ie.gif);
	}
.navigator {	
	background-color: #900;
	border: 1px solid #300;
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	opacity: .4;
	filter: alpha(opacity = 40); /* IE does not recognize CSS's native opacity property */
	}

/* Scroll Bars */
#scrollbarRight {
	position: absolute;
	z-index: 100;
	width: 20px;
	top: 20%;
	right: 20px;
	background-color: #000;
	opacity: .3;
	filter: alpha(opacity = 30); /* IE does not recognize CSS's native opacity property */
	}

#scrollbarBottom {
	position: absolute;
	z-index: 100;
	height: 20px;
	bottom: 20px;
	background-color: #000;
	left: 20%;
	opacity: .3;
	filter: alpha(opacity = 30); /* IE does not recognize CSS's native opacity property */
	}

/* Scroll Bar Handles */
#scrollbarDragHandleX {
	background-color:#000;
	height: 20px;
	bottom: 20px;
	position: absolute;
	z-index: 100;
	opacity: .3;
	filter: alpha(opacity = 30); /* IE does not recognize CSS's native opacity property */
	}
#scrollbarDragHandleY {
	background-color:#000;
	width: 20px;
	right: 20px;
	position: absolute;
	z-index: 100;
	opacity: .3;
	filter: alpha(opacity = 30); /* IE does not recognize CSS's native opacity property */
	}
	
/* Scroll Bar Arrows */
#scrollbarLeftHandle {
	background-image: url(../images/arrows/left.gif);
	z-index: 100;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 20px;
	opacity: .5;
	filter: alpha(opacity = 50); /* IE does not recognize CSS's native opacity property */
}
#scrollbarRightHandle {
	background-image: url(../images/arrows/right.gif);
	z-index: 100;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 20px;
	opacity: .5;
	filter: alpha(opacity = 50); /* IE does not recognize CSS's native opacity property */
}
#scrollbarTopHandle {
	background-image: url(../images/arrows/top.gif);
	z-index: 100;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	opacity: .5;
	filter: alpha(opacity = 50); /* IE does not recognize CSS's native opacity property */
}
#scrollbarBottomHandle {
	background-image: url(../images/arrows/bottom.gif);
	z-index: 100;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	opacity: .5;
	filter: alpha(opacity = 50); /* IE does not recognize CSS's native opacity property */
}

#feedback {
	position:absolute;
	left: 5px;
	top: 0;	
}

.openhand {
	background-color: #00FF00;
	background-image: url(../images/cursors/openhand.cur);
	display: none;
	visibility: hidden;
	position: absolute;
	left: -10000px;
	top: -1000px;
	overflow: hidden;
	width: 0;
	height: 0;
}
.closedhand {
	background-color: #00FF00;
	background-image: url(../images/cursors/closedhand.cur);
	display: none;
	visibility: hidden;
	position: absolute;
	left: -10000px;
	top: -1000px;
	overflow: hidden;
	width: 0;
	height: 0;
}

/************************
  =MENU
***********************/
#dmViewerMenu {
	background-color: #CCC;
	width: 730px;
	height: 30px;
	margin: 0 auto;
	padding: 0 0 3px 0;
	}
#dmViewerMenu div {
	text-indent: -1000em;
	margin-right: 15px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 9px;
	padding-top: 0;
	float: left;
	}
#dmViewerZoomOut {
	width: 16px;
	height: 16px;
	background-image: url(../images/menu/zoomOut.gif);
	margin-left: 10px;
	}
#dmViewerZoomIn {
	width: 16px;
	height: 16px;
	background-image: url(../images/menu/zoomIn.gif);
	}
#dmViewerMenu div#zoomLevelGague {
	text-indent: 0;
	margin-top: 6px;
	cursor: text;
}
#dmViewerMaxRes {
	width: 13px;
	height: 16px;
	background-image: url(../images/menu/maxRes.gif);
	padding-left: 15px;
	border-left: 1px solid #999;
	background-position: right;
	}
#dmViewerFitWindow {
	width: 16px;
	height: 16px;
	background-image: url(../images/menu/fitWindow.gif);
	}
#dmViewerFitWidth {
	width: 16px;
	height: 16px;
	background-image: url(../images/menu/fitWidth.gif);
	}
#dmViewerRotateCounterclockwise {
	width: 12px;
	height: 12px;
	background-image: url(../images/menu/rotateCounter.gif);
	padding-left: 15px;
	border-left: 1px solid #999;
	background-position: right;
	}
#dmViewerRotateClockwise {
	width: 12px;
	height: 12px;
	background-image: url(../images/menu/rotateClockwise.gif);
	}
#dmViewerHideNavigator {
	width: 14px;
	height: 14px;
	background-image: url(../images/menu/hideNavigator.gif);
	padding-left: 15px;
	border-left: 1px solid #999;
	background-position: right;
	}





